@import "../../styles/variable";

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);    
    place-items: center;
    border-radius: 25px;
    background: #f6f6f6;
    margin-top: 40px;   
    padding: 40px;
    grid-gap: 50px;
    row-gap: 50px;
    justify-content: space-around;
}

@media (min-width:320px) and (max-width:767px) {

    .gallery {
        flex-wrap: nowrap;
        display: flex;
        margin-top:15px;
        padding: 0;
        background:none;
        grid-gap: 20px;
        row-gap: 20px;
    }


} 

    
@media (min-width:768px) and (max-width:1023px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, 250px); 
           
}
}

