@import "../variable";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


article {
    width: 85%;
    background: $kasa_pink;    
    border-radius: 5px;
    margin: 20px;
    .arrow {
        transition: transform 0.3s ease;        
      }
      .arrow.open {
        transform: rotate(180deg);
      }

    .item {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 10px;
        height: 3.5rem;
        border-radius: 5px;
        p {            
        font-size: 1.5rem;
        font-weight: 600;
        }
        span {
            font-size: 3.5rem;
            cursor: pointer;
        }        

    } 
    .description {
        background-color: ghostwhite;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        padding: 10px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;  
        &.open {
        max-height: 1000px; /* Ajustez cette valeur en fonction de la hauteur réelle du contenu */
        overflow: visible;
        transition: max-height 0.5s ease-in-out;
        }

        span {
            color: $kasa_pink;
            line-height: 2;   
            font-size: 19px;
        }
    }
}

@media (min-width:320px) and (max-width:767px){
    section {
        margin:15px;
        img {
            margin-bottom: 15px;
        }
    }

    article {
    width: 100%;
    margin: 10px 20px;
    .item {
        height: 30px;
        p {
        font-size: 13px;
        }
        span {
            font-size: 2em;
        }
    }
    .description {
        span {
        font-size: 10px;
        }
    }
    
    }
    
}


