section img {
    width: 100%;
    border-radius: 25px;
    height: 223px;
    object-fit: cover;  
    margin: 20px 0px;
}

@media (min-width:320px) and (max-width:767px){
    section {
        img {
            border-radius: 10px;
            margin: 0;
            height: 111px;
        }
    }
}