@import "../variable";

body {
    margin: 20px 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_link {
        gap: 50px;
        display: flex;
        a {
            color: $kasa_pink;
        }
        
    }    

}