@import "../../styles/variable";

.fiche_logement {
    min-height: calc(100vh - 209px); /* Réduire la hauteur du footer */
    margin-bottom: 209px; /* Ajouter une marge en bas équivalente à la hauteur du footer */
}

.collapses {
    display: flex;
    flex-direction: row;
    gap: 76px;
    article {
        margin: 0;        
    }
}

ul {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne lorsque l'espace est insuffisant */
    justify-content: flex-start; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    color: white;
    padding: 0;
    gap: 10px;
    list-style: none;
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 10px;    
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .commercial_and_rating {
        display: flex;
        flex-direction: column;
        margin-top: 0.67em;
    }    
}

@media (min-width: 320px) and (max-width: 767px)  {
    .detail {
        flex-direction: column;
        align-items: flex-start;
        h1 {
            font-size: 18px;
        }
        ul li {
            min-width: 25vw; /* Utilisation de min-width pour éviter les coupures brutales */
            height: auto;
        }

        .commercial_and_rating {
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;            
        }
    }

    ul li {
        min-width: 84px; /* Utilisation de min-width pour éviter les coupures brutales */
        height: auto;
        font-size: 10px;
    }

    .collapses {
        flex-direction: column;
        gap: 20px;
    }
}
