@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import "../styles/variable";
@import "../../src/styles/components/Header.scss";

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;      
    color: $kasa_pink;
}
.main_body {
    margin: 25px 80px;
}

@media (min-width:320px) and (max-width:767px) {
    .main_body {
        margin: 25px 10px;
    }
} 