@import "../../styles/variable";


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    &_link {
        gap: 2rem;
        display: flex;

        a {
            color: $kasa_pink;
            outline: none;
            text-decoration: none;
        }
        a:hover {
            border-bottom: 1px solid;
        }
        img{
            width: 210.32px;
            height: 68px;
        }
        
        
    }    

}

@media (min-width:320px) and (max-width: 767px) {
        .header img {
            width: 120px;
            height: auto;
        }

        .header_link {
            font-size: 12px;
            gap: 0.8rem;
        }
       
    }
