.banner
{
    width: 100%;
    position: relative;

img {
    position: relative;
    width: 100%;
    border-radius: 25px;
    height: 223px;
    object-fit: cover;  
    margin: 20px 0px;
    filter: brightness(75%);

}
span {
    position: absolute;
    color: white;
    font-size: 3vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
} 

@media (max-width:600px){
    .banner {
        img {
            border-radius: 10px;
            margin: 0;
            height: 111px;
        }
        span {
            font-size: 24px;           
            width: 217px;    
            left: 20px;
            top: 25%;
            transform: translate(0.50%);              
        }
    }
}





