@import "../../styles/variable";

.card {
    border-radius: 10px;
    width: 340px;
    height: 340px;
    background: linear-gradient(white,black);
    position: relative;
    &:hover {
        transform: scale(1.04);   
        transition: transform 0.1s ease;    
    }
    img {
        opacity: 0.5;
        height: 340px;
        margin: 0;
        border-radius: 10px;
        width: 340px;
        object-fit: cover;
        &:hover {
        opacity: 0.8;     
    }
    }
    
    span {
        position: absolute;
        bottom: 5%;
        left: 20px;
        color: white;
        width: 70%;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .card {
        height: 255px;
        width: 100%;
        img {
            height: 255px;
            width: 100%;
        }
        span {
            left: 20px;
            width: 70%;
        }
    }

    
} 

@media (min-width:768px) and (max-width:1023px) {

    .card {
        height: 250px;
        width: 250px;
        img {
            height: 250px;
            width: 250px;
        }
    }
}
